<div class="container-fluid p-3">
  <div class="row shadow fixed-top bg-white">
    <div class="d-flex align-items-center justify-content-around h3 p-2 mt-2">
      <a routerLink="/dashboard" class="text-decoration-none text-secondary"><i class="bi bi-arrow-left-circle"></i></a>
      <span class="text-warning">{{createdAt | date: 'MMMM'}} Sales</span>
      <a routerLink="/addsale" class="text-decoration-none text-primary"><i class="bi bi-plus-circle"></i> New Sale</a>
    </div>
  </div>
  <div class="row card fixed-top shadow bg-white" style="margin-top: 65px;">
    <div class="p-2 d-flex align-items-center justify-content-around">
      <p>Total:<br>{{total}}</p>
      <p>Advanced:<br>{{advance}}</p>
      <p>Balance:<br>{{balance}}</p>
    </div>
  </div>
  <div style="margin-top: 150px;">
    <div class="row" *ngFor="let d of dailyData">
      <div class="card shadow h6">
        <div class="card-header bg-secondary text-center">
          <span class="text-white">Total {{d.createdAt | date: 'd MMMM y'}} Sales</span>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div><span class="text-primary">Total</span><br>{{d.totalEstimatedAmount}}</div>
            <div><span class="text-primary">Advanced</span><br>{{d.totalAdvanceAmount}}</div>
            <div><span class="text-primary">Balance</span><br>{{d.totalBalanceAmount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>