<div class="container-fluid p-3">
    <div class="row">
      <div class="shadow">
        <i class="bi bi-arrow-left h3 float-start" routerLink="/additem" ></i><span class="h3">Items List</span>
    </div>
    </div>
      <div class="row mt-2" *ngFor="let i of items">
          <div class="card shadow" >
            <div class="card-title">
              <div class="d-flex align-items-center justify-content-between">
                <p class="m-1">{{i.itemname | titlecase}}</p>
                <div>
                  <i class="bi bi-pencil text-primary me-3"></i>
                  <i class="bi bi-trash text-danger"></i>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row shadow">
        <div class="p-1 d-flex align-items-center justify-content-around">
            <i class="bi bi-house h2 shadow p-2 rounded text-danger" routerLink="/dashboard"></i>
            <i class="bi bi-power h2 shadow p-2 rounded text-danger" (click)="logout()"></i>
        </div>
    </div>
    </div>
    
    
  