<div class="container-fluid p-3">
  <div class="row shadow">
    <div class="p-1 d-flex align-items-center justify-content-between h3">
      <a routerLink="/addsale" class="text-decoration-none text-secondary"><i class="bi bi-arrow-left-circle"></i></a>
      <span class="text-warning">Sales List</span>
      <a routerLink="/addsale" class="text-decoration-none text-primary"><i class="bi bi-plus-circle"></i>New Sale</a>
    </div>
  </div>
  <div class="row mt-2" *ngFor="let s of sales">
    <div class="card shadow">
      <div class="card-title">
        <div class="d-flex align-items-center justify-content-between">
          <p>{{s.fullname | titlecase}}<br>({{s.mobileno}})</p>
          <p>{{s.particulars | titlecase}}</p>
          <p>{{s.estimatedamount}}<br>{{s.advanceamount}}<br>{{s.balaceamount}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row shadow fixed-bottom">
    <div class="p-1 d-flex align-items-center justify-content-around">
      <i class="bi bi-house h2 shadow p-2 rounded text-danger" routerLink="/dashboard"></i>
      <i class="bi bi-power h2 shadow p-2 rounded text-danger" (click)="logout()"></i>
    </div>
  </div>
</div>