<div class="container-fluid p-3">
  <div class="row">
    <div class="shadow">
      <i class="bi bi-arrow-left h3 float-start" routerLink="/dashboard" ></i><span class="h3">Sales</span>
    <i class="bi bi-box-arrow-right h3 text-danger float-end" (click)="logout()"></i>
  </div>
  </div>
    <div class="row mt-3">
        <div class="card">
          <div class="card-body">
            <a routerLink="/add-sale" class="card-title text-decoration-none text-primary">&#43; New Sale</a>
          </div>
        </div>
    </div>
    <div class="row mt-2" *ngFor="let s of sales">
        <div class="card shadow" >
          <div class="card-title">
            <div class="d-flex align-items-center justify-content-between">
              <p >{{s.fullname}}<br>({{s.mobileno}})</p>
              <p>{{s.particulars}}<br>{{s.items}}</p>
              <p>{{s.estimatedamount}}<br>{{s.advanceamount}}<br>{{s.balaceamount}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  
