<div class="container-fluid p-3">
    <div class="row shadow fixed-top bg-white">
        <div class="d-flex align-items-center justify-content-around h3 p-2 mt-2">
            <a routerLink="/dashboard" class="text-decoration-none text-secondary"><i
                    class="bi bi-arrow-left-circle"></i></a>
            <span class="text-warning">Customers</span>
            <a routerLink="/addsale" class="text-decoration-none text-primary"><i class="bi bi-plus-circle"></i> New
                Sale</a>
        </div>
    </div>
    <div style="margin-top: 65px;">
        <div class="row p-2" *ngFor="let c of customers">
            <div class="card shadow h6">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-primary">{{c.fullname | titlecase}}</span>
                        <span class="text-primary">{{c._id}}</span>
                        <span class="text-primary">{{c.totalAdvanceAmount}}</span>
                        <a href="https://wa.me/{{c._id}}/?text=Your due amount{{c.totalAdvanceAmount}}"><i
                                class="bi bi-whatsapp text-success"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>