<div class="container-fluid p-3">
  <div class="row shadow">
    <div class="p-1 d-flex align-items-center justify-content-between h3">
      <a routerLink="/dashboard" class="text-decoration-none text-secondary"><i class="bi bi-arrow-left-circle"></i></a>
      <span class="text-warning">New Item</span>
      <a routerLink="/viewitems" class="text-decoration-none text-primary"><i class="bi bi-card-list"></i> Items
        List</a>
    </div>
  </div>
  <div class="row mt-5">
    <form [formGroup]="addItemform" (ngSubmit)="additem()">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-2">
            <input type="text" class="form-control" id="itemname" formControlName="itemname" placeholder="Item Name">
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row shadow fixed-bottom">
    <div class="p-1 d-flex align-items-center justify-content-around">
      <i class="bi bi-house h2 shadow p-2 rounded text-danger" routerLink="/dashboard"></i>
      <i class="bi bi-power h2 shadow p-2 rounded text-danger" (click)="logout()"></i>
    </div>
  </div>
</div>