<div class="container-fluid p-3">
    <div class="row">
      <div class="shadow">
        <i class="bi bi-arrow-left h3 float-start" routerLink="/dashboard" ></i><span class="h3">Monthly Sales</span>
      <i class="bi bi-box-arrow-right h3 text-danger float-end" (click)="logout()"></i>
    </div>
    </div>
      <div class="row mt-2" *ngFor="let s of monthsales">
          <div class="card shadow" >
            <div class="card-title">
              <div class="d-flex align-items-center justify-content-between">
                <p >{{s.fullname | titlecase}}<br>({{s.mobileno}})</p>
                <p>{{s.particulars | titlecase}}<br>{{s.items}}</p>
                <p>{{s.estimatedamount}}<br>{{s.advanceamount}}<br>{{s.balaceamount}}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    
    
  