<div class="container-fluid p-3">
  <div class="row shadow fixed-top bg-white">
    <div class="d-flex align-items-center justify-content-around h3 p-2 mt-2">
      <a routerLink="/viewsale" class="text-decoration-none text-secondary"><i class="bi bi-arrow-left-circle"></i></a>
      <span class="text-warning">New Sale</span>
      <a routerLink="/viewsale" class="text-decoration-none text-primary"><i class="bi bi-card-list"></i>Sales List</a>
    </div>
  </div>
  <div style="margin-top: 65px;">
    <div class="row mt-3">
      <form [formGroup]="addSaleform" (ngSubmit)="addsale()">
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-2">
              <input type="text" class="form-control" id="sno" formControlName="sno" placeholder="Serial Number">
              <span *ngIf="addSaleform.get('sno')?.invalid && addSaleform.get('sno')?.touched">
                Serial number is required.
              </span>
            </div>
            <div class="mb-2">
              <input type="text" class="form-control" id="fullname" formControlName="fullname" placeholder="Name">
              <span *ngIf="addSaleform.get('fullname')?.invalid && addSaleform.get('fullname')?.touched">
                Fullname is required.
              </span>
            </div>
            <div class="mb-2">
              <textarea class="form-control" id="address" formControlName="address" placeholder="Address"></textarea>
              <span *ngIf="addSaleform.get('address')?.invalid && addSaleform.get('address')?.touched">
                Address is required.
              </span>
            </div>
            <div class="mb-2">
              <input type="number" class="form-control" id="mobileno" formControlName="mobileno"
                placeholder="Mobile Number">
              <span *ngIf="addSaleform.get('mobileno')?.invalid && addSaleform.get('mobileno')?.touched">
                Mobile number is required.
              </span>
            </div>
            <div class="mb-2">
              <input type="text" class="form-control" id="particulars" formControlName="particulars"
                placeholder="Particulars">
              <span *ngIf="addSaleform.get('particulars')?.invalid && addSaleform.get('particulars')?.touched">
                Particulars is required.
              </span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mb-2">
              <select class="form-select" id="itemId" formControlName="itemId">
                <option selected disabled>--Select Items--</option>
                <option value="{{item._id}}" *ngFor="let item of items">
                  {{item.itemname}}
                </option>
              </select>
              <span *ngIf="addSaleform.get('itemId')?.invalid && addSaleform.get('itemId')?.touched">
                Items is required.
              </span>
            </div>
            <div class="mb-2">
              <input type="text" class="form-control" id="imei" formControlName="imei" placeholder="IMEI Number">
              <span *ngIf="addSaleform.get('imei')?.invalid && addSaleform.get('imei')?.touched">
                IMEI is required.
              </span>
            </div>
            <div class="mb-2">
              <input type="number" class="form-control" id="estimatedamount" formControlName="estimatedamount"
                placeholder="Estimated Amount">
              <span *ngIf="addSaleform.get('estimatedamount')?.invalid && addSaleform.get('estimatedamount')?.touched">
                Estimated amount is required.
              </span>
            </div>
            <div class="mb-2">
              <input type="number" class="form-control" id="advanceamount" formControlName="advanceamount"
                placeholder="Advance Amount">
              <span *ngIf="addSaleform.get('advanceamount')?.invalid && addSaleform.get('advanceamount')?.touched">
                Advance amount is required.
              </span>
            </div>
            <div class="mb-2">
              <input type="number" class="form-control" id="balaceamount" formControlName="balaceamount" readonly
                placeholder="Balance Amount">
              <span *ngIf="addSaleform.get('balaceamount')?.invalid && addSaleform.get('balaceamount')?.touched">
                Balace amount is required.
              </span>
            </div>
            <div class="mb-2">
              <textarea class="form-control" id="note" formControlName="note" placeholder="Description"></textarea>
              <span *ngIf="addSaleform.get('note')?.invalid && addSaleform.get('note')?.touched">
                Description is required.
              </span>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2" [disabled]="addSaleform.invalid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>