<div class="container-fluid bg-light">
    <div class="row sticky-top header">
        <div class="p-2">
            <img src="../assets/logo.png" class="rounded  d-block p-2 logo">
        </div> 
    </div>
    
    
<div class="container">
    <div class="row p-3">
        <div class="card1">
            <img src="../assets/logo.png" class="rounded mx-auto d-block p-2">
        </div>
    </div>
    <div class="row ">
            <div class="col-sm-6 mt-1">
                <div class="d-flex ">
                <div class="card m-1">
                    hi
                </div>
                <div class="card m-1">
                    <h4 routerLink="/viewsale">view sale</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6  mt-1">
            <div class="d-flex ">
            <div class="card  m-1">
                hi
            </div>
            <div class="card m-1">
                vi
            </div>
        </div>
    </div>     
    </div>

    <div class="row p-3">
        <div class="card1">
            <img src="../assets/logo.png" class="rounded mx-auto d-block p-2">
        </div>
    </div>
</div>
   
<div class="row sticky-bottom footer">
    <div class="p-2 text-center bg-warning">
         copy right @ vitasoft   
    </div> 
</div>
    

       

</div>
