<div class="container-fluid p-3">
  <div class="row shadow">
    <div class="p-1 d-flex align-items-center justify-content-between h3">
      <a routerLink="/dashboard" class="text-decoration-none text-secondary"><i class="bi bi-arrow-left-circle"></i></a>
      <span class="text-warning">New Sale</span>
      <a routerLink="/viewsale" class="text-decoration-none text-primary"><i class="bi bi-card-list"></i>Sales List</a>
    </div>
  </div>
  <div class="row mt-3">
    <form [formGroup]="addSaleform" (ngSubmit)="addsale()">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-2">
            <input type="text" class="form-control" id="fullname" formControlName="fullname" placeholder="Name">
          </div>
          <div class="mb-2">
            <textarea class="form-control" id="address" formControlName="address" placeholder="Address"></textarea>
          </div>
          <div class="mb-2">
            <input type="number" class="form-control" id="mobileno" formControlName="mobileno"
              placeholder="Mobile Number">
          </div>
          <div class="mb-2">
            <input type="text" class="form-control" id="particulars" formControlName="particulars"
              placeholder="Particulars">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-2">
            <select class="form-select" id="items" formControlName="items" place>
              <option selected disabled>--Select Items--</option>
              <option value="{{item._id}}" *ngFor="let item of items">
                {{item.itemname}}
              </option>
            </select>
          </div>
          <div class="mb-2">
            <input type="text" class="form-control" id="imei" formControlName="imei" placeholder="IMEI Number">
          </div>
          <div class="mb-2">
            <input type="number" class="form-control" id="estimatedamount" formControlName="estimatedamount"
              placeholder="Estimated Amount">
          </div>
          <div class="mb-2">
            <input type="number" class="form-control" id="advanceamount" formControlName="advanceamount"
              placeholder="Advance Amount">
          </div>
          <div class="mb-2">
            <input type="number" class="form-control" id="balaceamount" formControlName="balaceamount" readonly
              placeholder="Balance Amount">
          </div>
          <div class="mb-2">
            <textarea class="form-control" id="note" formControlName="note" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-2" [disabled]="addSaleform.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row shadow fixed-bottom">
    <div class="p-1 d-flex align-items-center justify-content-around">
      <i class="bi bi-house h2 shadow p-2 rounded text-danger" routerLink="/dashboard"></i>
      <i class="bi bi-power h2 shadow p-2 rounded text-danger" (click)="logout()"></i>
    </div>
  </div>
</div>